@page
@model Hillerød_Sejl.Pages.kontaktOsModel
@{
    <h1>Har du nogen spørgsmål?</h1>
    <p>
        <ul>Kontakt os her:</ul>
        <ul>Klub Administrator: Frank Rosendal</ul>
        <ul>Tlf: 12345678</ul>
        <ul>Hillerødsejlklub@hotmail.com</ul>
        
        <ul>Sejl Arrangør:  Annette Brunding</ul>
        <ul>Tlf: 12345679</ul>
        <ul>Hillerødsejlklub@hotmail.com</ul>
        
    </p>
}
