@page
@model Hillerød_Sejl.Pages.kontaktOsModel
@{
    <h1>Har du nogen spørgsmål?</h1>
    <p2>
        <ul1>Kontakt os her:</ul1>    
        
    </p2>

    <div>
        <ul class="list-group contact-list">
            <li class="list-group-item">Klub Administrator: Frank Rosendal<br>
                Tlf: 12345678<br>
                Email: Hillerødsejlklub@hotmail.com
            </li>
            <li class="list-group-item">Sejl Arrangør:  Annette Brunding<br>
                Tlf: 12345679<br>
                Hillerødsejlklub@hotmail.com
            </li>
                    
        </ul>
    </Div>

    <div>
    <br> 
</div>
}
