@page
@model Hillerød_Sejl.Pages.NewsModel
@{
}
<h>
    <h1>Nyheder</h1>
</h>
<div>
    <br> 
</div>

<div class="card h-100">
    <div class="row align-items-start">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="Images/MastFraAgter.jpg" class="card-img-top" alt="..." style=" ">
                <div class="card-body">
                    <h5 class="card-title">Aftensommertur</h5>
                    <p class="card-text">Familien Widogast afholdte en sommertur for betalende gæster.</p>
                    <a href="#" class="btn btn-primary">Læs mere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="Images/CafeBillede.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Julefrokost</h5>
                    <p class="card-text">Hillerød sejlklub invitere alle medlemmer til julefrokost fredag den 17.  dec 2025.</p>
                    <a href="#" class="btn btn-primary">Læs mere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="Images/SkibMedDanebro.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Martha er tilbage!</h5>
                    <p class="card-text">Den gamle bevaringsværdige båd Martha er endelig blevet en del af Hillerød Sejlklub igen.</p>
                    <a href="#" class="btn btn-primary">Læs mere</a>
                </div>
            </div>
        </div>
    </div>
</div>

  <div>
    <br> 
</div>