@page
@model PrivacyModel
@{
    ViewData["Title"] = "Gallery Maybe :D ";
}
<h1>@ViewData["Title"]</h1>

<p>Pictures to be shown someday 🖼️🖼️🖼️.</p>
<div class="container text-center">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">
            <div class="p-3"></div>
            <img src="images/CafeBillede.jpg" class="img-fluid" alt="...">
        </div>
        <div class="col">
            <div class="p-3"></div>
            <img src="~/Images/MastFraAgter.jpg" class="img-fluid" alt="...">
        </div>
        <div class="col">
            <div class="p-3"></div>
            <img src="images/MastSetNedefra.jpg" class="img-fluid" alt="...">
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">
            <div class="p-3"></div>
            <img src="/Images/MastView.jpg" class="img-fluid" alt="...">
        </div>
        <div class="col">
            <div class="p-3"></div>
            <img src="~/Images/NottTheBrave.jpg" class="img-fluid" alt="...">
        </div>
        <div class="col">
            <div class="p-3"></div>
            <img src="images/OrangeBoat.jpg" class="img-fluid" alt="...">
        </div>
    </div>
</div>